<div class="container d-flex flex-column justify-content-center py-5 text-center bg-dark">
    <div class="row">
        <div class="col-sm-12 col-md-4">
          <currency-dropdown></currency-dropdown>
        </div>
        <div class="col-sm-12 col-md-8">
        </div>
      </div>
      <div class="row mt-5 text-center">
        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center">
            Order Type
        </div>
        <div class="col-sm-12 col-md-6">
            <order-dropdown></order-dropdown>
        </div>
      </div>
      <div class="row mt-3 text-center">
        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center">
            <auction-btn></auction-btn>
            <cur-btn></cur-btn>
        </div>
        <div id="numberField" class="col-sm-12 col-md-6">
            <input-number></input-number>
        </div>
      </div>
      <div class="row mt-3 text-center">
        <div class="col-sm-12 col-md-4">
        </div>
        <div class="col-sm-12 col-md-4">
            <bid-tile></bid-tile>
        </div>
        <div class="col-sm-12 col-md-4">
            <offer-tile></offer-tile>
        </div>
      </div><div class="row mt-3">
        <div class="col-sm-12 col-md-4">
        </div>
        <div class="col-sm-12 col-md-8">
            <reset-btn></reset-btn>
        </div>
      </div>
  </div>